body {
    font-family: "Manrope",sans-serif;
    font-weight: 700;
    width: 100%;
    background-color: #ffffff
}
button {
    font-family: inherit;
    cursor: pointer;
}
.counter {
    margin: auto;
    width: 700px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.counter__value {
    text-align: center;
    font-size: 32px;
    line-height: 44px;
}
.counter__addButton, 
.counter__resetButton {
    width: 500px;
    height: 100px;
    border-radius: 20px;
    border: none;
    background-color: #4191FF;
    line-height: 44px;
    font-size: 32px;
    color: #ffffff;

}
.counter__addButton:hover, 
.counter__resetButton:hover {
    opacity: 0.7;
}
.counter__resetButton {
    background-color: #d45366;
}